<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-container">
      <div class="footer-container1">
        <span class="footer-text">Oleg Fediukovich</span>
        <a
          href="mailto:Fedol1408@gmail.com?subject=Portfolio or something"
          class="footer-link"
        >
          <span>Fedol1408@gmail.com</span>
          <span></span>
        </a>
        <span class="footer-text03"><span>Telegram: @oleg_a_wto</span></span>
        <span class="footer-text05">
          <span>Discord: Oleg_A_LLIto#3238</span>
        </span>
      </div>
      <div class="footer-container2">
        <div class="footer-container3">
          <span class="footer-text07 large">Company</span>
          <span class="footer-text08 large">About Us</span>
          <span class="footer-text09 large">Careers</span>
          <span class="footer-text10 large">Press</span>
        </div>
        <div class="footer-container4">
          <span class="footer-text11 large">Pages</span>
          <span class="footer-text12 large">Login</span>
          <span class="footer-text13 large">Register</span>
          <span class="footer-text14 large">About</span>
        </div>
        <div class="footer-container5">
          <span class="footer-text15 large">Products</span>
          <span class="footer-text16 large">Free</span>
          <span class="footer-text17 large">PRO</span>
          <span class="footer-text18 large">Latest</span>
        </div>
      </div>
    </div>
  </footer>
</div>
